<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/addProductStyle.css">
</head>
<body>
    <div id="main">
        <form action="/product" method="post">
            <h1 class="title">Generate QR Code</h1>
            <input name="productName" type="text" placeholder="Product Name">
            <input name="dateArrival" type="date" placeholder="Date">
            <input name="quantity" type="text" placeholder="Quantity">
            <input class="button" name="submit" type="submit" value="Generate QR">
        </form>
        
    </div>
</body>
</html>