<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/indexStyle.css">
</head>
<body>
    <div id="main">
        <div id="hero">
            <h1>Create Account</h1>
            <form action="/register" method="post">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="Name" name="name">
                <input type="text" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <input type="submit" value="Create Account" name="submit">
                <a href="/login">Already have A account</a>

            </form> 
        </div>
    </div>
</body>
</html>